In [27]:
import pandas as pd
import os

DATA_PATH = os.path.join("..", "data", "processed")

#Load solar generation
df_energy = pd.read_excel(os.path.join(DATA_PATH, "time_series.xlsx"))
df_energy['utc_timestamp'] = pd.to_datetime(df_energy['utc_timestamp'])

# Load solar irradiance data
df_solar = pd.read_csv(os.path.join(DATA_PATH, "solar_data.csv"), sep=';')
df_solar['utc_timestamp'] = df_solar['Date'].str.split('/').str[0]
df_solar['utc_timestamp'] = pd.to_datetime(df_solar['utc_timestamp'])
df_solar.drop(columns=['Date'], inplace=True)

# Merge datasets
df_merged = pd.merge(df_energy, df_solar, on='utc_timestamp', how='inner')

print(df_merged.info())
df_merged.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8971 entries, 0 to 8970
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   utc_timestamp                 8971 non-null   datetime64[ns]
 1   actual_entsoe_transparency    8971 non-null   int64
 2   forecast_entsoe_transparency  8947 non-null   float64
 3   generation_actual             8965 non-null   float64
 4   TOA                           8971 non-null   float64
 5   Clear sky GHI                 8971 non-null   float64
 6   Clear sky BHI                 8971 non-null   float64
 7   Clear sky DHI                 8971 non-null   float64
 8   Clear sky BNI                 8971 non-null   float64
 9   GHI                           8971 non-null   float64
 10  BHI                           8971 non-null   float64
 11  DHI                           8971 non-null   float64
 12  BNI                           8971 non-null   float64
 13  Reliability                   8971 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 981.3 KB
None

,utc_timestamp,actual_entsoe_transparency,forecast_entsoe_transparency,generation_actual,TOA,Clear sky GHI,Clear sky BHI,Clear sky DHI,Clear sky BNI,GHI,BHI,DHI,BNI,Reliability
0,2019-09-23 04:00:00,4813,4542.0,3.0,21.8694,6.1237,0.6728,5.4509,11.7965,0.8182,0.0000,0.8182,0.0000,0.7917
1,2019-09-23 05:00:00,5204,4891.0,27.0,220.2275,101.8828,42.7787,59.1041,235.5252,10.7957,0.0000,10.7957,0.0000,0.9667
2,2019-09-23 06:00:00,5307,4917.0,87.0,443.0965,264.5972,160.6527,103.9445,483.2099,22.3956,0.0000,22.3956,0.0000,1.0000
3,2019-09-23 07:00:00,5356,4940.0,137.0,635.7904,423.2831,294.9474,128.3358,625.3030,50.0841,0.0003,50.0838,0.0007,1.0000
4,2019-09-23 08:00:00,5392,4980.0,185.0,785.1475,551.3483,410.7756,140.5727,707.1201,51.3973,0.0001,51.3972,0.0002,1.0000